*{
	margin: 0;
	margin: 0;
}

#contenedor{
	width: 1200px;
	height: 1000px;
	margin: 0.5em auto;
	padding: 0.5em;
}

#header{
	height: 15%;
	background: #1890D9;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
}

#nav{
	height: 10%;
	background: #ECF0F1;
	border-radius: 1em;
	margin: 1em;
	text-align: center;
}

#contenido{
	height: 53%;
	margin: 1em;
}

#footer{
	height: 15%;
	background: #1890D9;
	border-radius: 1em;
	margin: 1em;
	text-align: center;

}

#na{
	height: 100%;
	width: 25%;
	background: #1890D9;
	border-radius: 1em;
	float: left;
	margin-left: 0.5em;
	text-align: center;
}

#section{
	height: 100%;
	width: 47%;
	background: #A4A4A4;
	border-radius: 1em;
	float: left;
	margin-left: 0.5em;
}

#section{
	height: 100%;
	width: 47%;
	background: #ECF0F1;
	border-radius: 1em;
	float: left;
	margin-left: 0.5em;
}

#aside{
	height: 100%;
	width: 25%;
	background: #1890D9;
	border-radius: 1em;
	float: right;
	margin-right: 0.5em;
	text-align: center;
}

.articulo{
	width: 50%;
	height: 40%;
	background: #ECF0F1;
	margin: 1em;
	border-radius: 1em;
	

}

.asid{
	width: 40%;
	height: 40%;
	background: #1890D9;
	margin: 1em;
	border-radius: 1em;
	float: right;
	margin-right: 0.5em;
	color: white;
}